.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper li{
  padding: 10px;
}
.wrapper a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  transition: all 0.3s cubic-bezier();
}

.wrapper a:hover{
  color: red;
}